.MainDiv {
    background-image: url(../../assets/contact.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.SectionContainer {
    max-width: 1024px!important;
    width: 90vw!important;
    background-color: rgb(19 30 41 / 84%);
    height: fit-content;
    border-radius: 20px;
}

.SectionContainerCol {
    color: var(--bs-light);
    box-sizing: content-box;
    border-radius: 1rem;
    text-align: center;
}

.ContactForm {
    color: rgb(15 22 29);
    padding: 2rem;
}

.ContactForm > form > div > button {
    background-color: rgb(220 220 240 / 79%);
    color: rgb(15 22 29);
    padding: 0.5rem 2rem;
    border-radius: 20px;
    outline: transparent;
    border-color: transparent;
    transition: all 200ms ease-in;
}

.ContactForm > form > div > button:hover {
    background-color: transparent;
    color: var(--bs-light);
    border-color: rgb(220 220 240 / 79%);
    transition: all 100ms ease-in;
}

.FormGroup {
    background-color: rgb(220 220 240 / 79%);
    border-radius: 20px;
    margin: 1.5rem 0px;
}

.FormGroup > input, .FormGroup > textarea {
    border-radius: 20px;
    background-color: rgb(220 220 240 / 79%);
}

.ContactIcons {
    width: 2rem;
    aspect-ratio: 1;
}

@media (min-device-width: 768px) {
    .MainDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: var(--gen-height);
    }

    .FormGroup {
        padding: 2rem 3rem;
    }
}

@media (max-device-width: 767px) {
    
    .MainDiv {
        min-height: calc(var(--gen-height) - 19rem);
        padding: 1rem;
    }
    .SectionContainer > div {
        color: var(--bs-light); 
        background-blend-mode: soft-light;
    }

    .SectionContainerCol {
        padding-top: 3rem;
        padding-bottom: unset;
    }

    .ContactForm {
        padding-top: unset;
    }

    .FormGroup {
        padding: 2rem 1rem;
    }
}